.sb-actions-wraper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sb-spinner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sb-card-cont {
    margin-left: 2.5vh;
}