<app-toolbar></app-toolbar>
<h1 class="mt-3">{{runningUser?.name}} {{runningUser?.lastname}}
    <mat-icon *ngIf="runningUser?.verified" matTooltip="Usuario Verificado" color="primary">check_circle</mat-icon>
</h1>

<mat-tab-group mat-align-tabs="center" dynamicHeight>

    <mat-tab label="solicitudes"> 

        <div class="sb-solicituteds-tab container">
            <app-help-request-card *ngFor="let helpRequest of helpRequestArr" 
            [helpRequest]="helpRequest"></app-help-request-card>
        </div>

    </mat-tab>

    <mat-tab label="postulaciones"> 
        
        <div class="sb-request-tab container">
            <app-postulation-card *ngFor="let postulation of postulationsArr" 
            [postulation]="postulation">
            </app-postulation-card>
        </div>

    </mat-tab>

    <mat-tab label="habilidades"> 

        <div class="sb-habilidades-tab container">

            <app-skill-card *ngFor="let skill of skillsArr" 
            [skill] = "skill"></app-skill-card>

            <div class="sb-add-skill">
                <button mat-raised-button color="warn" class="mt-5 mb-3" (click)="openAddSkillDialog()">
                    <mat-icon>add</mat-icon>
                    Añadir Habilidad
                </button>
            </div>

        </div>
    </mat-tab>

</mat-tab-group>
