h1 {
    display: flex;
    justify-content: center;
}
.sb-habilidades-tab {
    position: relative;
}

/*.add-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 1;
}*/

.sb-add-skill {
    display: flex;
    justify-content: center;
}