<mat-card class="example-card mt-3">
    <mat-card-header>
        <mat-card-title>{{helpRequest.title}} @{{helpRequest.userDO}}</mat-card-title>
        <mat-card-subtitle>{{helpRequest.street}},{{helpRequest.corner}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{helpRequest.description}}</p>
        <p>Habilidad: {{helpRequest.ability}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" (click)="openCancelDialog()">Cancelar</button>
        <button mat-raised-button color="primary">
            <mat-icon>question_answer</mat-icon>
            Haz tu pregunta
        </button>
    </mat-card-actions>
</mat-card>
