<app-base-dialog [dialogTitle]="helpRequest.helpRequest.title">


    <div sb-content *ngIf="isLoading" class="sb-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div sb-content class="container" *ngIf="!isLoading">
        <div *ngFor="let kvp of helpRequestMap | keyvalue ">
            <div class="row">
                <mat-card-header>
                    <mat-card-title>{{helpRequestIndex[kvp.key]}}</mat-card-title>
                    <mat-card-subtitle>
                        <p>{{kvp.value}}</p> 
                    </mat-card-subtitle>
                </mat-card-header>
            </div>
        </div>
    </div>
    
    <button sb-actions mat-raised-button color="primary" 
    *ngIf="!isLoading && !helpRequest.isUserRequest"
    (click)="submitPostulation()">Quiero Ayudar!!!</button>

</app-base-dialog>

