
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../../../../../../assets/img/help1.jpg" class="d-block w-100 h-auto" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Ayudar is the new black</h2>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
    </div>
    <div class="carousel-item">
        <img src="../../../../../../assets/img/ceo.png" class="d-block w-100 h-auto" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>El ceo opina:</h2>
                <p>"Ayudar es importante para la vida" P.B, CEO SuppBuddy.</p>
            </div>
    </div>
    <div class="carousel-item">
        <img src="../../../../../../assets/img/help1.jpg" class="d-block w-100 h-auto" alt="...">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
