<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="sb-landing-forms container mt-5">
        <div class="sb-img-container">
            <img src="../../../../../../assets/img/logo.png" class="sb-logo-img img-fluid">
        </div>
            <router-outlet></router-outlet>
    </mat-drawer>
    <mat-drawer-content>
        <div class="sb-landing-carrousel">
            <app-landing-carrousel></app-landing-carrousel>
        </div>
    </mat-drawer-content>
</mat-drawer-container>