<!--<video autoplay="true" loop muted="true" class="video-background">
    <source src="../../../../../../assets/img/redditsave.com_plankky_t_epic_harmonica_solo-avkh7y284je81.mp4" type="video/mp4">
</video>-->

<div class="container sb-landing">
    <div class="sb-img-container text-center">
        <img src="../../../../../../assets/img/logo.png" class="sb-logo-img img-fluid centered-img">
    </div>-
    <div class="sb-router-landing">
        <router-outlet></router-outlet>
    </div>
</div>


