<form [formGroup]="helpAplicationForm">

    <mat-form-field class="sb-form-field" appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput [formControl]="helpAplicationForm.controls.title">
    </mat-form-field>

    <mat-form-field class="sb-form-field" appearance="outline">
        <mat-label>Descripcion</mat-label>
        <textarea matInput [formControl]="helpAplicationForm.controls.description"></textarea>
    </mat-form-field>

    <mat-form-field class="sb-form-field" appearance="outline">
        <mat-label>Habilidades</mat-label>
        <mat-chip-list #chipList selectable [formControl]="helpAplicationForm.controls.skill">
            <mat-chip *ngFor="let skill of abilitiesArr" 
            color="primary"
            #c="matChip"
            (click)="addChip(c)">
                {{skill.name}}
            </mat-chip>
        <input matInput disabled="true" [matChipInputFor]="chipList">
        </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="sb-form-field" appearance="outline">
        <mat-label>Nivel de habilidad</mat-label>
        <mat-select (selectionChange)="changeLevel($event.value)" 
        disabled="{{!helpAplicationForm.controls.skill.value}}">
            <mat-option *ngFor="let level of skillLevel" [value]="level">
                {{level}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <h3>UBICACION</h3>
    <mat-form-field class="sb-form-field" appearance="outline">
        <mat-label>Calle</mat-label>
        <input matInput [formControl]="helpAplicationForm.controls.street">
    </mat-form-field>
    <mat-form-field class="sb-form-field" appearance="outline">
        <mat-label>Numero de puerta</mat-label>
        <input matInput [formControl]="helpAplicationForm.controls.corner">
    </mat-form-field>

</form>
